html{
    background-image: url('meatDonor.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.top ul{
    list-style-type:none;
    overflow:hidden;
    padding:0px;
    margin:0px;
    background-color: rgba(0,0,0,.2);
}
.top li a{
    text-decoration: none;
    font-size:20px;
    color:white;
    padding:10px 20px;
    float:left;
}
.top li a:hover{
    border-style:solid;
    border-left:none;
    border-right:none;
    border-top: none;
    border-color:white;
    border-width:1px;
}
#adminheader{
    color:white;
    font-size:30px;
}
.adminopeartion{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.adminopeartion div{
    width:400px;
    height:fit-content;
    padding:15px 10px;
    margin:25px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 15px;
}
.adminoperation2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.adminoperation2 div{
    width:400px;
    height:fit-content;
    padding:15px 10px;
    margin:25px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 15px;
}
input[type=number]{
    width:50px;
}
button{
    background-color: red;
    color:white;
    padding:15px 25px;
    text-align: center;
    border-style: none;
    border-radius: 5px;
}